<!doctype html>

<link rel="stylesheet" href="/assets/css/base.css" />

{{>header}}
<img src="/assets/img/cclogo.png" alt="CreditCloud">
<h1> Hello, World! </h1>
{{>footer}}
<script src="/assets/js/main/a.js"></script>
